<h2>Here're some things about this project.</h2>
<p class="text-info">Total # of all the service requests including Weather, Movie, and Currency is :
</p>
<div class ="container">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Page Name</th>
    <th>Function</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Weather</td>
    <td>Consult the weather of a city</td>
  </tr>
  <tr>
    <td>Movie Details</td>
    <td>Consult movie details</td>
  </tr>
  <tr>
    <td>Currency Rates</td>
    <td>Consult currency Rates</td>
  </tr>
  </tbody>
</table>

</div>
