<h2>Here're some things about this project.</h2>

<div class ="container">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Page Name</th>
    <th>Function</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Weather</td>
    <td>Input City name and state, return current weather with the data from Yahoo Weather.</td>
  </tr>
  <tr>
    <td>Movie Details</td>
    <td>Input movie name and return information with data from www.omdbapi.com</td>
  </tr>
  <tr>
    <td>Currency Rates</td>
    <td>Input currency symbol and return rate details from api.fixer.io</td>
  </tr>
  </tbody>
</table>
  <p class="text-info">Sorry about that the function of each page doesn't work.
  </p>
  <p class="well lead">
    <i> Name :</i> Xu Jiahui <br>
    <i> Number :</i> 516030910219 <br>
    <i> Class :</i> F1603702 <br>
    <i> Main reference :</i> <a ng-href ="https://www.ibm.com/developerworks/cn/web/wa-implement-a-single-page-application-with-angular2/index.html">https://www.ibm.com/developerworks/cn/web/wa-implement-a-single-page-application-with-angular2/index.html</a>
    && <a ng-href ="http://www.runoob.com/angularjs/angularjs-tutorial.html">http://www.runoob.com/angularjs/angularjs-tutorial.html</a><br>
  </p>
</div>
