<h2>Yahoo! Weather </h2>
<body>
<img src="assets/weather.png">
<h2> </h2>
</body>

<div class="col-md-8 col-md-offset-2">
  <div class="form-group">
    <input type="text"  class="form-control" placeholder="Enter City name ..."><br>
    <input type="text"  class="form-control" placeholder="Enter State. Example CA for California ..."><br>
    <button type="button" class="btn btn-primary" >Submit</button>
    <br><br><br>
    <br>
    <p class="well lead">
      <i>City, State, Country :</i> {{ this.op_city }} {{ this.op_region }} {{ this.op_country }} <br>
      <i>Current Condition :</i> {{ this.op_text }} <br>
      <i>Current Temperature :</i> {{ this.op_temp }} <br>
    </p>
  </div>
</div>



